<div [ngClass]="getColor()" style="border: 1px solid black;margin-bottom: 10px;padding: 10px">

  <div style="float:right">{{created_at | date:'short'}}</div>

  <h1>{{title}}</h1>

  <div>{{content}}</div>

  <div>{{loveIts}}</div>

  <div style="margin-top: 10px">
    <button type="button" class="btn-success" style="padding:5px;display:inline-block" (click)="loveIt()">Love It</button>
    <button type="button" class="btn-danger" style="padding:5px;display:inline-block;margin-left: 10px"
            (click)="dontLoveIt()">Don't love It</button>
  </div>

  <div style="margin-top: 10px">
    <button type="button" class="btn-danger" style="padding:5px;display:inline-block;margin-left: 10px"
            (click)="deletePost()">Supprimer post</button>
  </div>


</div>

